<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Về chúng tôi</h3>
          <p> Một quyển sách hay là đời sống xương máu quý giá của một tinh thần ướp hương và cất kín cho mai sau.</p>

        </div>
      </div>

      <div class="col-md-3 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Các thể loại</h3>
          <ul class="footer-links">
            <li><a href="#">Hot deals</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Cameras</a></li>
            <li><a href="#">Accessories</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Về chúng tôi</h3>
          <p> Một quyển sách hay là đời sống xương máu quý giá của một tinh thần ướp hương và cất kín cho mai sau.</p>

        </div>
      </div>
      <div class="col-md-3 col-xs-6">
        <div class="footer">
          <h3 class="footer-title">Về chúng tôi</h3>
          <p> Một quyển sách hay là đời sống xương máu quý giá của một tinh thần ướp hương và cất kín cho mai sau.</p>

        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div class="col-md-12 text-center" style="height: 60px;">
    <span class="copyright" style="margin-top: 0px;padding-top: 20px;">
      Copyright &copy;
      <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
      <i class=" fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Tiến
        Đạt</a>
    </span>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->